.contacts {
    @include adaptiv-value('padding-top', 100, 30, 0);
    @include adaptiv-value('margin-bottom', 257, 50, 0);

    &__body {
        @include adaptiv-value('padding-left', 45, 10, 0);
		@include adaptiv-value('padding-right', 45, 10, 0);
        @include adaptiv-value('padding-top', 70, 10, 0);
        @include adaptiv-value('padding-bottom', 36, 10, 0);
        position: relative;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 15%;

        @media (max-width: 1200px) {
            right: 3%;
        }

        @media (max-width: 991px) {
            display: none;
        }
    }

    &__wrap {
        @include adaptiv-value('padding-left', 40, 15, 0);
		@include adaptiv-value('padding-right', 40, 15, 0);
        @include adaptiv-value('padding-top', 50, 20, 0);
        @include adaptiv-value('padding-bottom', 65, 25, 0);
        background-color: $blueColor;
        border-radius: 3px;
    }

    &__info {
        max-width: 656px;
    }

    &__title {
        @include adaptiv-value('font-size', 42, 22, 0);
        line-height: 1.2;
        color: $whiteColor;
        margin-bottom: 20px;
    }

    &__text {
        @include adaptiv-value('font-size', 20, 16, 0);
        font-weight: 500;
        color: $whiteColor;
        @include adaptiv-value('margin-bottom', 41, 20, 0);
    }

    &__form {
        display: grid;
        grid-template-columns: 300px 300px;
        gap: 20px;

        @media (max-width: 991px) {
            grid-template-columns: 270px 270px; 
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
        

        label {
            max-width: 300px;
            color: $whiteColor;
            line-height: 1.4;
        }

        button {
            padding: 13px 30px;
            background-color: $lightblueColor;
            border-radius: 3px;
            color: $whiteColor;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.2;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

.input-text {
    padding: 15px;
}

.text-underline {
    text-decoration: underline ;
}
