.product {
	background: #f2f2ff;
	border-radius: 6px;
	padding: 49px 75px;
	@include adaptiv-value('padding-top', 49, 25, 0);
	@include adaptiv-value('padding-bottom', 49, 25, 0);
	@include adaptiv-value('padding-left', 75, 35, 0);
	@include adaptiv-value('padding-right', 75, 35, 0);
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		margin-bottom: 38px;
	}
	&__title {
		font-weight: 700;
		font-size: 26px;
		@include adaptiv-value('font-size', 26, 21, 0);
		line-height: 120%;
		max-width: 155px;
		text-align: center;
		@include adaptiv-value('margin-bottom', 29, 20, 0);
	}

	&__price {
		font-weight: 600;
		font-size: 19px;
		line-height: 23px;
		@include adaptiv-value('margin-bottom', 29, 20, 0);
	}

	.to-cart {
		background: $orangeColor;
		color: white;
		border-radius: 7px;
		padding: 10px 24px;
		font-weight: 600;
		font-size: 17px;
		line-height: 20px;
		cursor: pointer;
		transition: opacity 0.2s ease;
		&:hover {
			opacity: 0.5;
		}
	}
}
