.blog {
	position: relative;
	.first-left-dec {
		position: absolute;
		left: 0;
		z-index: -1;
		@media (max-width: 1500px) {
			width: 500px;
		}
		@media (max-width: 1200px) {
			width: 200px;
		}
	}
	.first-right-dec {
		position: absolute;
		right: 0;
		z-index: -1;
		@media (max-width: 1500px) {
			width: 500px;
		}
		@media (max-width: 1200px) {
			width: 200px;
		}
	}

	.second-left-dec {
		position: absolute;
		left: 0;
		bottom: -200px;
		z-index: -1;
		@media (max-width: 1500px) {
			width: 500px;
		}
		@media (max-width: 1200px) {
			width: 200px;
			bottom: 0;
		}
	}

	.second-right-dec {
		position: absolute;
		right: 0;
		bottom: -200px;
		z-index: -1;
		@media (max-width: 1500px) {
			width: 500px;
		}
		@media (max-width: 1200px) {
			width: 200px;
			bottom: 0;
		}
	}

	&__decorated {
		max-width: 117px;
		position: relative;
		&-elipse {
			position: absolute;
		}

		.left-elipse {
			left: -80px;
			top: 40px;
			@include adaptiv-value('width', 22, 16, 0);
			@include adaptiv-value('height', 22, 16, 0);
			@media (max-width: $md3) {
				top: 20px;
				left: -35px;
			}
		}

		.right-elipse {
			top: -20px;
			right: -90px;
			@include adaptiv-value('width', 28, 16, 0);
			@include adaptiv-value('height', 28, 16, 0);
			@media (max-width: $md3) {
				top: -20px;
				right: -35px;
			}
		}
	}

	&__body {
		@include adaptiv-value('padding-top', 100, 20, 0);
		@include adaptiv-value('padding-bottom', 100, 20, 0);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-weight: 700;
		font-size: 55px;
		@include adaptiv-value('font-size', 55, 32, 0);
		@include adaptiv-value('line-height', 66, 32, 0);
		max-width: 117px;
		margin: 0 auto;
		@include adaptiv-value('margin-bottom', 79, 20, 0);
	}
	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@include adaptiv-value('gap', 53, 24, 0);
	}
	&__item {
		position: relative;
		height: 443px;
		width: 529px;
		@include adaptiv-value('height', 443, 300, 0);
		@include adaptiv-value('width', 529, 300, 0);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&-bg {
			position: absolute;
			object-fit: cover;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			border-radius: 7px;
			height: 100%;
		}
		&-date {
			background: #ffffff;
			border-radius: 3px;
			display: inline-flex;
			@include adaptiv-value('width', 121, 70, 0);
			text-align: center;
			@include adaptiv-value('top', 46, 24, 0);
			@include adaptiv-value('left', 46, 24, 0);
			@include adaptiv-value('padding-top', 10, 5, 0);
			@include adaptiv-value('padding-bottom', 10, 5, 0);
			padding-top: 10px;
			padding-bottom: 10px;
			justify-content: center;
			position: absolute;
		}
		&-bottom {
			background: $logoGradient;
			@include adaptiv-value('padding-top', 33, 18, 0);
			@include adaptiv-value('padding-bottom', 33, 18, 0);
			@include adaptiv-value('padding-left', 46, 24, 0);
			@include adaptiv-value('padding-right', 46, 24, 0);
			border-radius: 0px 0px 7px 7px;
			display: flex;
			@include adaptiv-value('gap', 15, 10, 0);
			justify-content: space-between;
			align-items: center;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			h3 {
				color: white;
				font-weight: 700;
				@include adaptiv-value('font-size', 32, 18, 0);
				@include adaptiv-value('line-height', 39, 25, 0);
			}
			a {
				display: block;
				padding: 8px 33px;
				background: #ff5602;
				border-radius: 3px;
				color: white;
				font-weight: 700;
				@include adaptiv-value('font-size', 23, 16, 0);
				@include adaptiv-value('line-height', 28, 21, 0);
				transition: opacity 0.2s ease;
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}
