.footer {
	background-color: $darkblueColor;
	color: $whiteColor;
	
	.container {
		padding-top: 60px;
		padding-bottom: 79px;

		@media (max-width: 991px) {
			padding-top: 40px;
		}
	}

	&__topRow {
		display: flex;
		justify-content: space-between;
		margin-bottom: 36px;
		@media (max-width: 991px) {
			row-gap: 55px;
			flex-direction: column;
		}
	}

	&__bottomRow {
		display: flex;
		justify-content: space-between;
	}

	&__image {
		background-color: $blueColor;
		width: 60px;
		height: 60px;
		display: grid;
		place-items: center;
		margin-right: 48px;
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 55px;
		@media (max-width: 1200px) {
			gap: 30px;
		}
		@media (max-width: 576px) {
			flex-direction: column;
			gap: 20px;
		}

		p, a {
			display: flex;
			align-items: center;
			img {
				margin-right: 12px;
				@media (max-width: 1200px) {
					margin-right: 8px;
				}
			}
		}

		// p {}
		a {
			color: inherit;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		max-height: 132px;
		margin-right: 37px;

		li {
			margin-bottom: 12px;

			a {
				font-size: 15px;
				color: inherit;
			}
		}
	}

	.input-wrapper {
		position: relative;
	}

	&__input {
		background-color: transparent;
		border: 1px solid $whiteColor;
		padding: 10px 46px;
		border-radius: 7px;
		max-width: 270px;
		margin-right: 42px;

		&::placeholder {
			color: $whiteColor;
			font-size: 15px;
		}

		@media (max-width: 1200px) {
			padding: 10px 15px;;
		}
	}

	&__input-img {
		position: absolute;
		top: 10px;
		left: 15px;

		@media (max-width: 1200px) {
			display: none;
		}
	}

	&__btn {
		padding: 10px 30px;
		background-color: $blueColor;
		border-radius: 7px;
		flex-shrink: 0;
		max-height: 43px;
		color: $whiteColor;
		font-size: 17px;
		line-height: 1.2;
		font-weight: 700;
	}
}

.menu {
	ul {
		display: flex;
		column-gap: 23px;
		row-gap: 16px;
		flex-wrap: wrap;
		@media (max-width: 1200px) {
			column-gap: 16px;
			justify-content: center;
		}

		li {
			a {
				color: inherit;
				font-size: 14px;
				line-height: 1.2;
			}
		}
	}
}
