.header {
	&__top {
		background: $blueColor;
		padding-top: 20px;
		padding-bottom: 20px;
		&-body {
			display: flex;
			justify-content: space-between;
			align-items: center;

			ul {
				display: flex;
				align-items: center;
				gap: 50px;

				li {
					a {
						font-size: 14px;
						color: white;
						transition: opacity 0.2s ease;

						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
			.location {
				display: flex;
				align-items: center;
				gap: 5px;
				transition: opacity 0.2s ease;

				span {
					color: white;
				}

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}

	&__bottom {
		padding-top: 20px;
		padding-bottom: 20px;
		&-body {
			display: flex;

			.logo {
				margin-right: 20px;
			}

			.search {
				position: relative;
				display: flex;
				margin-right: 20px;

				img {
					position: absolute;
					top: 10px;
					left: 10px;
				}

				button {
					background: #35447a;
					border-radius: 2px;
					padding-left: 24px;
					padding-right: 24px;
					color: white;
					font-size: 15px;
					line-height: 18px;
					font-weight: 700;
					transition: background-color 0.2s ease;
					cursor: pointer;

					&:hover {
						background: #232e54;
					}
				}

				input {
					font-weight: 400;
					font-size: 15px;
					line-height: 18px;
					padding-top: 11px;
					padding-bottom: 11px;
					padding-left: 44px;
					border: 0.5px solid #35447a;
					border-radius: 2px;
					outline: none;
					&::placeholder {
						color: #d1d1d1;
					}
				}
			}
			.hours {
				display: flex;
				flex-direction: column;
				gap: 5px;
				flex: 1;
				font-size: 15px;
				line-height: 18px;

				p {
					color: #656565;
				}

				a {
					color: $blueColor;
					transition: opacity 0.2s ease;

					&:hover {
						opacity: 0.5;
					}
				}
			}
			.call {
				border: 1px solid $blueColor;
				font-weight: 700;
				font-size: 15px;
				line-height: 18px;
				color: #35447a;
				padding: 11px 37px;
				background: none;
				border-radius: 2px;
				transition: opacity 0.2s ease;
				cursor: pointer;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}
