// Шрифт
$fontFamily: 'Inter';

// Цвета
$mainColor: #000;
$blackColor: #121212;
$whiteColor: #FFFFFF;
$darkblueColor: #21222E;
$blueColor: #35447a;
$lightblueColor: #B2C3FF;
$greyColor: #656565;

// Контейнер
$containerPadding: 30;

// Медиа
$md2: 992px;
$md3: 776px;
