// Шрифт
$fontFamily: "Gilroy";

// Цвета
$mainColor: #000;
$grayColor: #707070;
$darkBlueColor: #0089d3;
$redColor: #ff0640;
$simpleBlue: #16d7ff;
$logoGradient: linear-gradient(94.77deg, #00448f 0%, #0089d3 55.52%, #005ca9 100%);
$lightBlueColor: #EAEFFA;
$orangeColor: #FF5602;

// Контейнер
$containerPadding: 30;

// Медиа
$md2: 992px;
$md3: 776px;
