.contacts {
	position: relative;

	.left-dec {
		position: absolute;
		left: 0;
		z-index: -1;
		@media (max-width: $md2) {
			width: 300px;
		}
	}

	.right-dec {
		position: absolute;
		right: 0;
		z-index: -1;
		@media (max-width: $md2) {
			top: 500px;
			width: 300px;
		}
	}
	&__body {
		@include adaptiv-value('padding-top', 100, 30, 0);
		@include adaptiv-value('paddint-bottom', 150, 50, 0);
	}

	&__decorated {
		position: relative;
		max-width: 259px;
		margin: 0 auto;

		.red-elipse {
			position: absolute;
			@include adaptiv-value('top', -50, -10, 0);

			@include adaptiv-value('left', -50, 20, 0);
			@include adaptiv-value('width', 22, 13, 0);
			@include adaptiv-value('height', 22, 13, 0);
		}

		.green-elipse {
			position: absolute;
			@include adaptiv-value('width', 31, 17, 0);
			@include adaptiv-value('height', 31, 17, 0);
			@include adaptiv-value('left', -90, 0, 0);
			@include adaptiv-value('bottom', -20, 0, 0);
		}

		.blue-elipse {
			position: absolute;
			@include adaptiv-value('width', 31, 17, 0);
			@include adaptiv-value('height', 31, 17, 0);
			@include adaptiv-value('right', -90, 0, 0);
			@include adaptiv-value('bottom', 50, 20, 0);
		}
	}

	&__title {
		font-weight: 700;
		@include adaptiv-value('font-size', 55, 21, 0);
		line-height: 66px;
		text-align: center;
		@include adaptiv-value('margin-bottom', 73, 15, 0);
	}
	&__top {
		display: flex;
		justify-content: space-between !important;
		gap: 80px;
		position: relative;
		@include adaptiv-value('margin-bottom', 118, 50, 0);
		@media (max-width: $md2) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&-dec {
			position: absolute;
			z-index: -1;
			left: 60%;
			top: 50%;
			transform: translate(-65%, -50%);
			width: 420px;
			@media (max-width: $md2) {
				display: none;
			}
		}
	}

	&__form {
		@include adaptiv-value('max-width', 560, 300, 0);
		flex: 1;
		@media (max-width: $md2) {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-align: center;
			margin: 0 auto;
		}

		.input-block {
			display: flex;
			flex-direction: column;
			gap: 17px;
			margin-bottom: 44px;
			@media (max-width: $md2) {
				align-items: center;
			}

			label {
				font-weight: 700;
				font-size: 20px;
				@include adaptiv-value('font-size', 20, 15, 0);
				line-height: 120%;
			}

			input {
				width: 100%;
				background: #eaeffa;
				border-radius: 3px;
				border: none;
				padding: 20px 29px;
				outline: none;
				font-weight: 500;
				@include adaptiv-value('font-size', 18, 14, 0);
				line-height: 120%;
				transition: background-color 0.2s ease;
				&::placeholder {
					color: #979797;
				}
				&:focus {
					background: #d4e1ff;
				}
			}
		}
		&-action {
			display: flex;
			flex-direction: column;
			gap: 20px;
			@media (max-width: $md2) {
				align-items: center;
				justify-content: center;
			}

			.buttons {
				display: flex;
				gap: 22px;
				@include adaptiv-value('gap', 22, 15, 0);
				position: relative;

				.select {
					background: #ff5602;
					display: flex;
					gap: 8px;
					align-items: center;
					border-radius: 3px;
					@include adaptiv-value('padding-left', 60, 20, 0);
					@include adaptiv-value('padding-right', 60, 20, 0);
					@include adaptiv-value('padding-top', 20, 10, 0);
					@include adaptiv-value('padding-bottom', 20, 10, 0);
					color: white;
					font-weight: 700;
					@include adaptiv-value('font-size', 18, 14, 0);
					line-height: 115.7%;
					color: white;
					cursor: pointer;
					transition: opacity 0.2s ease;
					&:hover {
						opacity: 0.5;
					}
					img {
						transition: transform 0.2s ease;
						&.rotated {
							transform: rotate(-180deg);
						}
					}
				}

				.select-info {
					z-index: 2;
					background: $redColor;
					border-radius: 7px;

					transform: translateY(5px);
					opacity: 0;
					visibility: hidden;
					width: 100%;
					left: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding-top: 20px;
					padding-bottom: 20px;
					gap: 20px;
					position: absolute;
					@include adaptiv-value('top', 80, 45, 0);
					font-weight: 700;
					@include adaptiv-value('font-size', 18, 14, 0);
					line-height: 115.7%;
					color: white;
					transition: all 0.2s ease;
					.active {
						opacity: 0.5;
					}
					li {
						cursor: pointer;
						transition: opacity 0.2s ease;
						&:hover {
							opacity: 0.5;
						}
					}
					&.open {
						transform: translateY(0);
						opacity: 1;
						visibility: visible;
					}
				}

				.submit-btn {
					color: white;
					font-weight: 700;
					@include adaptiv-value('font-size', 18, 14, 0);
					line-height: 115.7%;
					background: #2cdaff;
					border-radius: 3px;
					@include adaptiv-value('padding-left', 60, 20, 0);
					@include adaptiv-value('padding-right', 60, 20, 0);
					cursor: pointer;
					transition: opacity 0.2s ease;
					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		@include adaptiv-value('max-width', 450, 300, 0);

		@include adaptiv-value('gap', 21, 15, 0);
		@media (max-width: $md2) {
			align-items: center;
			justify-content: center;
			max-width: 450px !important;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiv-value('gap', 21, 15, 0);
		justify-content: center;
		background: #eaeffa;
		width: 204px;
		@include adaptiv-value('width', 204, 150, 0);
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.2s ease;
		@media (max-width: $md2) {
			height: 150px;
		}
		&:hover {
			transform: scale(0.9);
			opacity: 0.5;
		}

		h4 {
			font-weight: 700;
			@include adaptiv-value('font-size', 21, 16, 0);
			line-height: 115.7%;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		@include adaptiv-value('gap', 40, 20, 0);
		@media (max-width: $md2) {
			flex-direction: column;
			align-items: center;
		}

		.map {
			img {
				border-radius: 5px;
			}
		}

		.info {
			background: #eaeffa;
			border-radius: 6px;
			padding-top: 50px;
			padding-left: 51px;
			padding-right: 68px;
			padding-bottom: 50px;
			@include adaptiv-value('padding-top', 58, 25, 0);
			@include adaptiv-value('padding-bottom', 58, 25, 0);
			@include adaptiv-value('padding-right', 68, 35, 0);
			@include adaptiv-value('padding-left', 51, 35, 0);
			h2 {
				font-weight: 700;
				@include adaptiv-value('font-size', 30, 20, 0);
				line-height: 120%;
				color: $orangeColor;
				margin-bottom: 20px;
			}
			.info__list {
				max-width: 330px;
				@include adaptiv-value('max-width', 330, 250, 0);
				display: flex;
				flex-direction: column;
				gap: 10px;

				li {
					font-weight: 500;
					@include adaptiv-value('font-size', 19, 15, 0);
					line-height: 22px;
				}
			}
		}
	}
}

.map {
	z-index: 1;
	flex: 1;
	@include adaptiv-value('width', 560, 300, 0);
	@include adaptiv-value('heigth', 460, 280, 0);
	min-width: 280px !important;
	min-height: 280px !important;
	background: #eee;
}
